:root {
  --primary: #4db6ac;
  --secondary: #00695c;
  --background: #e0f2f1;
  --text: #212121;
  --accent: #80cbc4;
  --white: #ffffff;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 320px;
  text-align: center;
}

h1 {
  color: var(--secondary);
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

h2 {
  color: var(--text);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

label {
  display: block;
  text-align: left;
  margin-top: 10px;
  color: var(--text);
  font-weight: 500;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid var(--accent);
  border-radius: 10px;
  outline: none;
  transition: 0.3s;
  font-size: 0.9rem;
}

input:focus, select:focus {
  border-color: var(--secondary);
  box-shadow: 0 0 5px var(--accent);
}

button {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: var(--secondary);
}

.footer {
  margin-top: 15px;
  color: #666;
  font-size: 0.8rem;
}
